h1 {
	font-size: 56px;
}

body {
    position: relative;
    height: 100vh;
    font-size: 18px;
    font-weight: 200;
    color: white !important;
    font-family: "Helvetica Neue";
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(20,20,20,.9) !important;
    width: 500px;
    border-radius: 25px !important;
    padding-bottom: 10px;
}

#contact-buttons a {
    font-size: 30px;
    color: white;
}

#dot {
	margin-left: 2px;
	margin-right: 2px;
}

.links {
	color: white !important;
	font-weight: 400 !important;
	text-decoration: underline !important;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}